body {
    background-color: lightgrey;
}

#play-btn {
    height: 4rem;
    width: 12rem;
    position: absolute;
    top: calc(50vh - 2rem);
    left: calc(50vw - 6rem);
    border-radius: 0.5rem;
}

.main-content {
    height: 70vh;
    width: 70vw;
    background-color: aqua;
    margin: 15vh 15vw;
}

.target-class {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.scale-target {
    animation-name: scale-target;
    animation-duration: 1s;
}

@keyframes scale-target {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1.0);
    }
}

.crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
}

.verticalLine {
    height: 1rem;
    width: 0.2rem;
    position: absolute;
    background-color: red;
}

.horizontalLine {
    height: 0.2rem;
    width: 1rem;
    background-color: red;
    position: relative;
    top: 0.4rem;
    left: -0.4rem;
}